.brand-logo {
  font-family: "Inconsolata", monospace;
  margin-left: 55px;
}

::selection {
  background: rgba(255, 242, 168, 0.8);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(#ef70707e, #f9ad0870) no-repeat;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

.tabs {
  margin-left: 0px;
  color: black;
}

.tab {
  color: white;
  text-align: center;
  font-size: 100px;
}

.icon {
  height: 25px;
  width: 25px;
}

.icon-right {
  margin-right: 10px;
}

#email {
  position: relative;
  top: 1px;
}

.about {
  margin: 0 auto;
  width: 85%;
  position: relative;
  top: 50px;
}

.currently {
  margin: 0 auto;
  width: 85%;
  position: relative;
  top: 50px;
}

.projects {
  margin: 0 auto;
  width: 85%;
  position: relative;
  top: 50px;
}

.experience {
  margin: 0 auto;
  width: 85%;
  position: relative;
  top: 50px;
}

.contact-form {
  position: relative;
  top: 50px;
  right: 4.5%;
  margin: auto 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
}

.contact-rows {
  position: relative;
  left: 5%;
}

.page-footer {
  position: relative;
  margin-top: 33%;
  border-radius: 5px;
}

img {
  margin: auto;
  max-width: 100%;
}

.card {
  height: 600px;
  width: 450px;
  margin: auto;
  border-radius: 5px;
}

h5 {
  background-color: rgba(201, 221, 255, 0.9);
  padding: 10px;
  border-left: 8px solid rgb(109, 163, 255);
  margin-bottom: 30px;
}

.ci {
  background-color: rgba(201, 221, 255, 0.95);
}

.collapsible {
  border-radius: 5px;
}

.italic {
  font-style: italic;
}

#about-card {
  font-size: 20px;
}

#card-by {
  font-size: 25px;
  text-align: center;
}

a {
  color: rgb(252, 125, 123);
}

.language {
  background-color: rgba(201, 221, 255, 0.9);
}
